
.array-container {
    position: absolute;
    top: 50px;
    bottom: 50px;
  }
  
  .array-bar 
  {
    /* border: 1px solid rgb(0, 0, 0); */
    /* display: inline-block; */
    display: inline-block;
    
  }

  

  